@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  #profile {
    flex-direction: column;
  }

  .profile-text {
    /* padding: 16px; */
    margin: 25px 0 0 0;
  }
}

@media (max-width: 1349px) {
  #projects {
    height: auto;
  }

  .cards-container {
    /* flex-wrap: wrap; */
    /* height: auto; */
  }

  .projects-container {
    /* padding-top: 15px; */
    height: auto;
  }
}

@media (max-width: 425px) {
  #contact {
    height:auto;
  }
}