@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    #profile {
        flex-direction: column;
    }

    .profile-text {
        padding: 16px;
        margin: 25px 0 0 0;
    }
}
