/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100;300;400&display=swap");

/* VARIABLES */
:root {
  --gray: rgb(243, 240, 240);
}

/* KEYFRAME ANIMATIONS */

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rg(85, 85, 85);
}

/* ANIMATED CURSOR ICON */

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background-color: black;
  animation: blink 1.3s infinite;
}

/* TRANSITION */

a,
.button {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
  background-color: var(--gray);
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--gray);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  /* transition: all 0.3s ease-in-out; */
}

.menu-links {
  position: absolute;
  top: 50px;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  text-transform: uppercase;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

.menu-links li:hover {
  text-shadow: 2px 2px gray;
}

.menu-links.open {
  max-height: 300px;
  box-shadow: 3px 3px 10px gray;
}

/* HAMBURGER MENU TRANSFORM TO AN X */

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* PROFILE */

.layout {
  padding: 15px;
}

section {
  height: 100vh;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text {
  margin-left: 55px;
  padding: 16px;
  text-align: center;
  box-shadow: 8px 8px 15px gray;
}

.profile-pic-container {
  display: flex;
}

.profile-pic-container img {
  width: 100%;
  height: auto;
}

.button-container {
  margin-top: 0.3rem;
}

/* ABOUT */

#about {
  background-color: var(--gray);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-text {
  text-align: center;
}

.about-text p {
  margin-top: 10px;
}

.about-text h1 {
  font-size: 3rem;
}

.my-name {
  font-size: 100px;
}

/* PROJECTS */

.projects-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 8px 8px 15px gray;
  position: relative;
  height: 400px;
  width: 300px;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.projects-text {
  text-align: center;
  padding: 20px;
}

.projects-text h1 {
  font-size: 3rem;
}

.card h2 {
  text-align: center;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px 10px 20px 10px;
}

/* CONTACT */

#contact {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact-text {
  text-align: center;
  padding: 20px;
}

.contact-text h1 {
  font-size: 3rem;
}

.contact-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-images img {
  max-width: 200px;
  transition: all 0.3s ease;
}

.contact-images {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.image-overlay {
  position: absolute;
  color: white;
  text-shadow: 3px 3px 8px black;
  font-size: 2.5rem;
  font-weight: 800;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  pointer-events: none;
}

.contact-images img:hover {
  opacity: 25%;
}

.contact-images:hover .image-overlay {
  opacity: 1;
}

/* FOOTER */

#footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}