* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(75, 75, 75);
    padding: 10px;
    height: 120px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 8px;
}

nav {
    display: flex;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: lightblue;
    padding: 5px;
    text-align: right;
    border-bottom: 2px solid lightblue;
}

header h1 {
    font-size: 200%;
    color: lightblue;
    padding: 10px;
}

.header-info {
    display: flex;
    align-items: center;
}

h2 {
    margin: 10px;
    font-size: 150%;
    color: rgb(75, 75, 75);
}

.about-me {
    display: flex;
    padding: 10px 0 0;
}

.about-me p {
    padding: 5px 0 5px;
    margin: 10px;
}

.work {
    display: flex;
}

.work h2 {
    padding-right: 50px;
    background-color: white;
    border-right: 5px solid rgb(75, 75, 75);
    padding-right: 10px;
    /* margin-right: 20px; */
    margin-left: 50px;
}

.work-cards {
    padding: 20px 0 20px;
    display: flex;
    position: relative;
}

.work-cards img {
    border: 5px solid lightblue;
}

.card-text {
    background: lightblue;
    padding: 5px;
    position: absolute;
    top: 175px;
}



.about-me h2 {
    border-right: 5px solid rgb(75, 75, 75);
    padding: 10px;
    margin-left: 30px;
    text-align: right;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-me {
    display: flex;
}

.contact-me h2 {
    border-right: 5px solid rgb(75, 75, 75);
    padding: 10px;
    flex-wrap: wrap;
    text-align: right;
}

.contact-info {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact-info p, a {
    margin: 10px;
}
